# Macro for Unity YAML-based asset files.
[attr]unityyaml -text merge=unityyamlmerge diff
# Unity files
*.meta unityyaml
*.unity unityyaml
*.asset filter=lfs diff=lfs merge=lfs -text
*.prefab unityyaml
*.png filter=lfs diff=lfs merge=lfs -text
